@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body{
    margin: 0;
}


/* ------------------------------------------------------
                        HEADER
------------------------------------------------------ */
header{
    display: flex;
    justify-content: space-between;
    border-bottom: black 1px solid;
    padding: 1vw 1.8vw;
    margin: 0 3vw;
}
.display_flex{
    display: flex;
    align-items: center;
}
.nav_logo{
    width: 2em;
}
.nav_h1{
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    padding: 0 0.6em;
}
.nav_title{
    list-style-type: none;
}
nav{
    gap: 5vw;
    align-items: center;
}
/* .nav_on{
    background-color: transparent;
    list-style-type: none;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.2vw;
    color: #533F36;
    border-bottom: #FBBE86 0.1em solid;
}
.nav_off{
    border: none;
    background-color: transparent;
    list-style-type: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 2.2vw;
    text-align: center;
    color: #533F36;
    border-bottom: transparent 0.1em solid;
}
.nav_off:hover{
    border-bottom: #FBBE86 0.1em solid;
} */
.round_input, #profile_search{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 1.5vw;
    height: 3vw;
    width: 18vw;
    border-radius: 5em;
    border-width: 1px;
    border-style: solid;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: 0.2em 0.5em;
}
.round_input:hover, #profile_search:hover{
    outline: #FBBE86 1px solid;
}
.round_input:focus, #profile_search:focus{
    outline: #FBBE86 1px solid;
}
.round_input:active, #profile_search:active{
    outline: #FBBE86 1px solid;
}
.display_gap{
    gap: 10px;
    align-items: flex-end;
}
.icon{
    border-bottom: transparent 0.1em solid;
}
#profile_icon:hover{
    border-bottom: #FBBE86 0.1em solid;
}

@media only screen and (max-width: 800px) {
    .title{
        font-size: 1em;
    }
    .nav_logo{
        width: 1.4em;
    }
    .nav_h1{
        font-size: 0.6em;
        padding-right: 1.6em;
    }
}