@import url('https://fonts.googleapis.com/css2?family=Philosopher:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* ------------------------------------------------------
                        INVENTORY
------------------------------------------------------ */
#appHome{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;    
    padding-top: 5em;
}
.display_center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#display_box{
    flex: 6em 6em 18%; 
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    min-width: fit-content; 
    max-width: 680px;
    height: fit-content;
    margin-top: 5em;
    padding: 1em;
    gap: 1em;
    border-radius: 1.6em;
    background-color: #F5E6C3;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    position: relative;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -0%);
    transform: translate(-50%, -0%);
}
.stone{
    align-self: flex-start;
    height: 7em;
    width: 7em;
    border: black 0.2em solid;
    cursor: pointer;
    box-shadow: inset 0 0 10px #303030;
}
.add_stone{
    align-self: flex-start;
    height: 7em;
    width: 7em;
    border: black 0.2em solid;
    cursor: pointer;
    box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(97, 97, 97, 0.5) -3px -3px 6px 1px inset;
}
/* ------------------------------------------------------
                        MODAL
------------------------------------------------------ */
#inventory_modal{
    background-color: #FFF5DF;
    padding: 1.5em 1.5em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 15em;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    z-index: 99;
}
#inventory_modal .stone{
    align-self: center;
    margin-top: 2em;
    margin-bottom: 3em;
}
#stone_name{
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1.6em;
}
#stone_weight, .stone_description_modal{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 1em;
    margin-top: 2em;
    margin-bottom: 3em;
}
#closeCreate{
    align-self: flex-end;
}
.stone_modal{
    width: 15em;
    height: 15em;
}

@media only screen and (max-width: 690px) {
    #display_box{
        width: 260px;
        padding: 0.8em;
        gap: 0.8em;
    }
    .stone, .add_stone{
        height: 5em;
        width: 5em;
    }
}